
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/base/css")
    @RenderSection("Css", required:false)
</head>
    <body>
        <div>
        <div class="list-group col-sm-1 collapsedMenu">
            <ul class="nav nav-pills nav-stacked">
                <li class="active" onclick="expandMenu()"><a>Menu</a></li>
            </ul>
        </div>
        <div class="list-group col-sm-2 hidden expandedMenu" style="background-color: #ffffff">
            <ul class="nav nav-pills nav-stacked">
                <li class="active" onclick="collapseMenu()"><a>Menu</a></li>
                <li>@Html.ActionLink("House Of Burt", "Index", "Home", null, new { @role = "menuitem" }) </li>
                @RenderSection("MenuItems", required: false)
            </ul>
        </div>
        </div>
        @RenderBody()
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script>
            function expandMenu() {
                $('.collapsedMenu').addClass('hidden');
                $('.expandedMenu').removeClass('hidden');
            }

            function collapseMenu() {
                $('.collapsedMenu').removeClass('hidden');
                $('.expandedMenu').addClass('hidden');
            }
        </script>
        @RenderSection("scripts", required: false)
    </body>
</html>
