@using System.Net.Mime

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
{
}

@section Meta{
    <meta name="keywords" content="HouseOfBurt web based applications devlopment example" />
    <meta property="og:description" content="House Of Burt Web Applications" />
    <meta name="description" content="House Of Burt Web Applications" />
    <meta property="og:url" content="@Url.Action("Index", "Application", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = "Index" }), Uri.UriSchemeHttps, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
    <meta property="og:image" content="@Url.Content("~/Content/img/Logo.png")"/>
    <link rel="canonical" href="@Url.Action("Index", "Application", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = "Index" }), Uri.UriSchemeHttps, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
}

<div class="center-block"><h2>Web Applications</h2></div>

<div class="container-fluid">
    @foreach (var app in ViewBag.WebApplications)
    {
        <div class="panel col-lg-8 col-md-8">
            <h3>@app.Name</h3>
            <p></p>

            @if (app.ImageUrl != null)
            {
                <a href=@Url.Content(app.ImageUrl)>
                    <img src=@Url.Content(app.ImageUrl) width=150 />
                </a>
            }
            <p>@Html.Raw(app.Description)</p>

            <br>
            @LinkExtensions.ActionLink(Html, "Go to the App", app.Action, null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
