
@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "House Of Burt Software Development";
}

@section Meta{
    <meta name="keywords" content="HouseOfBurt Burt fresno software development program warranty download local developer" />
    <meta property="og:description" content="House Of Burt Software and News site" />
    <meta name="description" content="House Of Burt Software and News site" />
    <meta property="og:url" content="@Url.Action("Index", "Home", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = "Index" }), Uri.UriSchemeHttp, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
    <meta property="og:image" content="http://houseofburt.azurewebsites.net/Content/img/Logo.png" @*@Request.Url.GetLeftPart(UriPartial.Authority) />Content/images/auction.jpg"*@ />
    <link rel="canonical" href="@Url.Action("Index", "Home", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = "Index" }), Uri.UriSchemeHttp, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
}
<h1 class="hidden">@ViewBag.Title</h1>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner container vOffset15">
        @{var firstArticle = true;}
        @foreach (Article newsItem in ViewBag.BigNewsItems)
        {
            <div class="item @if (firstArticle)
                             {
                                 <text>active</text>
                             }">
                @if (newsItem.PictureUrl.IsNullOrWhiteSpace())
                {
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt=@newsItem.Title />
                }
                else
                {
                    <img src="@Url.Content(newsItem.PictureUrl)" alt="@newsItem.Title" />
                }
                <div class="container">
                     <div class="carousel-caption">
                         <h2>@newsItem.Title</h2>
                         <p>@Html.Raw(newsItem.getArticleSummary(200))</p>
                         <p><a class="btn btn-lg btn-primary" href="@Url.Action("Article", "News", new {@id = newsItem.Slug})" role="button">Read More</a></p>
                    </div>
                </div>
            </div>
          firstArticle = false;
        }

       
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<div class="row">
    @foreach (Product product in ViewBag.Products)
    {
        <div class="col-md-2 childPanel panel panel-primary">
            <h2>@product.Name</h2>
            <img src="@Url.Content(product.ImageUrl)" class="img-thumbnail" alt="@product.Name"/>
            <p>@product.ShortDescription</p>
            <p>@Html.ActionLink(@"Learn More", "Detail", "Product", new { @id = product.Slug }, new { @class = "btn btn-primary" })</p>
        </div>
    }

</div>