
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/base/news")

@section SideBarContent {
    @foreach (Link link in ViewBag.Article.Links)
    {
        <a href="@link.URL" class="list-group-item">@link.Caption</a>
    }
}

@section Meta{
<meta name="keywords" content="@ViewBag.Article.Keywords" />
<meta property="og:description" content="@ViewBag.Article.getArticleSummary(50)" />
<meta name="description" content="@ViewBag.Article.getArticleSummary(50)" />
<meta property="og:url" content="@Url.Action("Article", "News", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = ViewBag.Article.Slug }), Uri.UriSchemeHttp, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
<meta property="og:image" content="@string.Concat("http://houseofburt.azurewebsites.net/", Url.Content(ViewBag.Article.PictureUrl))" />
<link rel="canonical" href="@Url.Action("Article", "News", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = ViewBag.Article.Slug }), Uri.UriSchemeHttp, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
}

<div class="panel">
    <br />
    <img src=@Url.Content(@"../" +ViewBag.Article.PictureUrl) class="center-block" width="50%" />
    <p></p>
    <h2>@ViewBag.Article.Title</h2>
    <p></p>
    <p>@Html.Raw(ViewBag.Article.Content)</p>
</div>

