
@{
    ViewBag.Title = ViewBag.Header;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/base/news")

@section SideBarContent {
@foreach (var link in ViewBag.Links)
    {
    <a href="@link.URL" class="list-group-item">@link.Caption</a>
    }
}

@section Meta{
    <meta name="keywords" content="" />
    <meta property="og:description" content="News Articles about House Of Burts Software Developement and Local Developer events." />
    <meta name="description" content="News Articles about House Of Burts Software Developement and Local Developer events." />
    <meta property="og:url" content="@Url.Action("Index", "News", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = "News" }), Uri.UriSchemeHttp, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
    <meta property="og:image" content="http://houseofburt.azurewebsites.net/Content/img/Logo.png" />
    <link rel="canonical" href="@Url.Action("Index", "News", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = "News" }), Uri.UriSchemeHttp, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
}

<div class="page-header"><h1>@ViewBag.Header</h1></div><br/>

<div>
    @foreach (Article newsArticle in ViewBag.NewsItems)
    {
        <div class="panel">
            <br/>
            <img src=@Url.Content(newsArticle.PictureUrl) class="center-block img-rounded" />
            <p></p>
            <h2>@newsArticle.Title</h2>
            <p></p>
            <p>@Html.Raw(newsArticle.Content)</p>
        </div>
    }
</div>

