@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideBarContent {
    @foreach (Link link in ViewBag.Links)
    {
        if(link != null)
         {
             <a href="@link.URL" class="list-group-item">@link.Caption</a>
         }
    }
}

@section Meta{
    <meta name="keywords" content="software download product HouseOfBurt" />
    <meta property="og:description" content="News Articles about House Of Burts Software Developement and Local Developer events." />
    <meta name="description" content="News Articles about House Of Burts Software Developement and Local Developer events." />
    <meta property="og:url" content="@Url.Action("Index", "Product", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = "Index" }), Uri.UriSchemeHttp, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
    <meta property="og:image" content="@Url.Content("~/Content/img/Logo.png")" />
    <link rel="canonical" href="@Url.Action("Index", "Product", new RouteValueDictionary(new { area = ViewContext.RouteData.DataTokens["area"], slug = "Index" }), Uri.UriSchemeHttp, System.Configuration.ConfigurationManager.AppSettings["HostName"])" />
}

<div class="container-fluid">
    <h2>All Products</h2>
    <br/>
    @foreach (var product in ViewBag.Products)
    {
        <div class="panel col-lg-8 col-md-8">
            <h3>@product.Name</h3>
            <p></p>

            @if (product.ImageUrl != null)
            {
                <a href=@Url.Content(product.ImageUrl)><img src=@Url.Content(product.ImageUrl) width=150 />
                </a>
            }
            <p>@Html.Raw(product.Description)</p>

            <br>
            @Html.ActionLink("Read More", "Detail", new { @id = product.Slug }, new { @class="btn btn-primary"})
        </div>
    }
</div>