@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SideBarContent {
    @foreach (Product product in ViewBag.Products)
    {
        if(product.SourceLink != null)
         {
             <a href="@product.SourceLink.URL" class="list-group-item">@product.SourceLink.Caption</a>
         }
    }
}

<div class="container-fluid">
     @foreach (var product in ViewBag.Products)
     {
        <div class="panel col-lg-8 col-md-8">
            <h3>@product.Name</h3>
            <p></p>

            @if (product.ImageUrl != null)
            {
            <a href=@Url.Content(product.ImageUrl)>
                <img src=@Url.Content(product.ImageUrl) width=150 />
            </a>
            }
            <p>@Html.Raw(product.Description)</p>

            <br>
            @Html.ActionLink("Read More", "Detail", new { @id = product.ProductId }, new { @class="btn btn-primary"})
        </div>
     }
</div>