<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta property="og:title" content="@ViewBag.Title" />
    <link rel="icon" type="image/png" href="/Content/icon/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/Content/icon/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/Content/icon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/Content/icon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/Content/icon/favicon-32x32.png" sizes="32x32">
    @RenderSection("Meta", required:false)
</head>
    <body>
        <div class="container-fluid">
            <div role="navigation" class="navbar navbar-default navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-inverse">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">News <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Software News", "Category", "News", new { @category = "Software" }, new { @role = "menuitem" })</li>
                                    <li>@Html.ActionLink("Blog Posts", "Category", "News", new { @category = "Personal" }, new { @role = "menuitem" })</li>
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("All News", "Index", "News", null, new { @role = "menuitem" })</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Service Tag Reporter", "Detail", "Product", new { @id = "Service-Tag-Reporter" }, new { @role = "menuitem" })</li>
                                    <li>@Html.ActionLink("HP Warranty Reporter", "Detail", "Product", new { @id = "HP-Warranty-Reporter" }, new { @role = "menuitem" })</li>
                                    <li>@Html.ActionLink("File Zapper", "Detail", "Product", new { @id = "File-Zapper" }, new { @role = "menuitem" })</li>
                                    <li>@Html.ActionLink("Deal O Round", "Detail", "Product", new { @id = "Deal-O-Round" }, new { @role = "menuitem" })</li>
                                    <li>@Html.ActionLink("All Products", "Index", "Product", null, new { @role = "menuitem" })</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Source Code<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="https://bitbucket.org/HouseOfBurt/service-tag-reporter/src">Service Tag Reporter Repo<span class="caret"></span></a></li>
                                    <li>@Html.ActionLink("All Products", "Index", "Product")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Applications<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Context Is Needed", "ContextIsNeeded", "Application")</li>
                                    <li>@Html.ActionLink("Fresno Population Map", "FresnoPopulationMap", "Application")</li>
                                    <li>@Html.ActionLink("All Applications", "Index", "Application", null, new { @role = "menuitem" })</li>
                                </ul>
                            </li>
                            <li class="navbar-link">@Html.ActionLink("Resume", "Resume", "Home")</li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @using (Html.BeginForm("Search", "Home"))
                                {
                                    @Html.TextBox("search", null, new { @class = "" })
                                    <a class="glyphicon glyphicon-search padRight20"></a>
                                }
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row-fluid">
                    @if (IsSectionDefined("SideBarContent"))
                    {
                        <div id="sidebar" class="col-lg-3 col-md-2">

                            <div class="list-group">
                                <a href="#" class="list-group-item active">Important Links</a>
                                @RenderSection("SideBarContent", required: false)
                            </div>
                        </div>
                    }
                    <div id="content" class=@(IsSectionDefined("SideBarContent") ? "col-lg-9 col-md-10" : "span12")>
                        @RenderBody()
                        <footer>
                            <p>&copy; @DateTime.Now.Year - House Of Burt Software</p>
                        </footer>
                    </div>
                </div>
            </div>

            @Styles.Render("~/Content/base/css")
            @Scripts.Render("~/bundles/modernizr")
            @RenderSection("css", required: false)

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
            @Scripts.Render("~/bundles/layoutjs")
        </div>
    </body>
</html>
