<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>

        <div role="navigation" class="navbar navbar-default navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-nav navbar-inverse">
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">News <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Software News", "Category", "News", new { @category = "Software"}, new { @role="menuitem"})</li>
                                <li>@Html.ActionLink("Blog Posts", "Category", "News", new { @category = "Personal"},new { @role="menuitem" })</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("All News", "Index", "News", null, new { @role="menuitem"})</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Service Tag Reporter", "Detail", "Product", new { @id = 1 }, new { @role = "menuitem" })</li>
                                <li>@Html.ActionLink("HP Warranty Reporter", "Detail", "Product", new { @id = 2 }, new { @role = "menuitem" })</li>
                                <li>@Html.ActionLink("File Zapper", "Detail", "Product", new { @id = 3 }, new { @role = "menuitem" })</li>
                                <li>@Html.ActionLink("All Products", "Index", "Product",null,new { @role="menuitem" })</li>
                            </ul>
                        </li>
                        <li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Source Code<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="https://bitbucket.org/HouseOfBurt/service-tag-reporter/src">Service Tag Reporter Repo<span class="caret"></span></a></li>
                                <li>@Html.ActionLink("All Products", "Index", "Product")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Resume", "Resume", "Home")</li>
                    </ul>
                </div>
                @using (Html.BeginForm("Search", "Home"))
                {
                    @Html.TextBox("search",null, new{ @class="pull-right"})
                }
            </div>

        </div>
        
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="sidebar" class="col-lg-3 col-md-2">
                    @if (IsSectionDefined("SideBarContent"))
                    {
                        <div class="list-group">
                            <a href="#" class="list-group-item active">Important Links</a>
                            @RenderSection("SideBarContent", required: false)
                        </div>
                    }
                </div>
                <div id="content" class="col-lg-9 col-md-10">
                    @RenderBody()
                    <footer>
                        <p>&copy; @DateTime.Now.Year - House Of Burt Software</p>
                    </footer>

                </div>
                <a id="toggleSidebar" href="#" class="span1 toggles"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        @*<div>
            <aside class="page-sidebar span3 leftaside">
                <h5 style="color: white">Important Links</h5>
                <div class="Links">
                    <ul>

                        @if (ViewBag.SideLinks != null)
                        {
                        foreach (DataContext.Link link in ViewBag.SideLinks)
                        {
                            @Html.ActionLink(link.Title, link.Url);
                        }
            }
                </ul>
            </div>
        </aside>
    </div>*@

        @*<div class="container body-content">

            @RenderBody()
        
            <hr />
        </div>*@

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/layoutjs")
    </body>
</html>
